<!DOCTYPE>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <style>
    .templateContainer {
      background: url('slide-72.jpg');
      width: 1600px;
      height: 900px;
    }

    .contentContainer {
      padding-top: 5px;
      padding-left: 5px;
    }

    .list {
      list-style-position: inside;
      padding-left: 0px;
    }
    
    .list-items {
      font-size: 40px;
      font-weight: bold;
    }      
    
    .header, .content {
      font-size: 50px;
      font-weight: bold;
    }
    
  </style>
</head>
<body>
  <div id="container" ng-app="bible">
    <div id="selectContainer" ng-controller="selectControl">
      <form id="searchForm" ng-submit="submit()">
        <div id="bookContainer">
          <label>Book:</label>
          <select id="bookSelect" ng-model="selectedBook" ng-options="key as book.name for (key, book) in books">
          </select>
        </div>
        <div id="chapterContainer">
          <label>Chapter:</label>
          <select id="chapterSelect" ng-model="selectedChapter" ng-options="key as key for (key, value) in books[selectedBook].chapters">
          </select>
        </div>
        <div id="verseContainer">
          <label>From Verse:</label>
          <select id="fromVerseSelect" ng-model="selectedFromVerse" ng-options="n for n in [] | range:1:books[selectedBook].chapters[selectedChapter]+1">
          </select>
          <label>To Verse:</label>
          <select id="toVerseSelect" ng-model="selectedToVerse" ng-options="n for n in [] | range:selectedFromVerse:books[selectedBook].chapters[selectedChapter]+1">
          </select>
        </div>
        <input type="submit" value="Search">
      </form>
    </div>
  
    <div class="templateContainer" width="1600px" height="900">
      <div class="contentContainer">
        <span class="header">{{bookName + selectedChapter+":"+selectedFromVerse + "-" + selectedToVerse}}</span>
        <ol class="list" start="{{selectedFromVerse}}">
          <li class="list-items">
            <span class="content" ng-repeat="verse in selectVerse" >{{verse}}</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <script src="bibleModule.js"></script>
</body>
